/* ==UserStyle==
@name           Roblox: Everything black
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Pretty much all background colors are set to #000 or close to this value.
@author         soki
==/UserStyle== */

@-moz-document domain("roblox.com") {
    :root {
        --text: #aaa; /* applies to everything that was pure white before */
    }
    .dark-theme,
    .dark-theme .content,
    .dark-theme .scroller,
    .dark-theme .chat-main,
    .dark-theme .group-open,
    .dark-theme .rbx-header,
    .dark-theme .rbx-left-col,
    .dark-theme .dropdown-menu,
    .dark-theme .menu-vertical,
    .dark-theme .section-content,
    .dark-theme .dialog-container,
    .dark-theme .container-footer,
    .dark-theme .scroller.disabled,
    .dark-theme .open .dropdown-menu,
    .dark-theme .btn-generic-grid-xs,
    .dark-theme .virtual-item-content,
    .dark-theme .avatar-container img,
    .dark-theme .passkey-upsell-banner,
    .dark-theme .asset-thumb-container,
    .dark-theme .thumbnail-2d-container,
    .dark-theme .btn-generic-slideshow-xs,
    .dark-theme .rbx-tab .rbx-tab-heading,
    .dark-theme .avatar .avatar-card-image,
    .notification-stream-header.dark-theme,
    .dark-theme .rbx-header .navbar-search,
    .dark-theme .btn-generic-grid-xs:hover,
    .dark-theme .btn-generic-grid-xs:focus,
    .dark-theme .notification-stream-header,
    .dark-theme .modal-dialog .modal-content,
    .dark-theme .stack .stack-list .stack-row,
    .dark-theme .rbx-tabs-horizontal .nav-tabs,
    .dark-theme .btn-generic-slideshow-xs:hover,
    .dark-theme .btn-generic-slideshow-xs:focus,
    .dark-theme .avatar-container .avatar-card-image,
    .dark-theme .horizontal-scroller .scroller .spacer,
    .dark-theme .chat-container .chat-main .chat-header,
    .dark-theme .dialogs .dialog-container .dialog-body,
    .dark-theme .catalog-container .sticky .search-bars,
    .dark-theme .dialogs .dialog-container .dialog-header,
    .dark-theme .profile-avatar-right .profile-avatar-mask,
    .dark-theme .catalog-container .sticky .topic-container,
    .dark-theme .rbx-header .navbar-search .new-dropdown-menu,
    .dark-theme .game-card-container .game-card-thumb-container,
    .dark-theme .game-home-page-container .home-interleave-divider,
    .dark-theme .slide-switcher .slide-item-container .slide-item-container-left,
    .dark-theme .slide-switcher .slide-item-container .slide-item-container-right,
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body,
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .container-empty,
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-loading,
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-scrollbar .notification-stream-list {
        background-color: #000;
    }
    .dark-theme .hover-game-tile.focused,
    .dark-theme .meta-actions-list-base .meta-actions-overlay,
    .dark-theme .hover-game-tile.focused .featured-game-container,
    .dark-theme .rbx-header .navbar-search .navbar-search-option.new-selected, 
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-scrollbar .notification-stream-list .notification-stream-item,
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-scrollbar .notification-stream-list .sendr-notification-background {
        background-color: #070707
    }
    .dark-theme .popover.bottom > .arrow,
    .dark-theme .popover.bottom > .arrow::after {
        border-bottom-color: #000;
    }
    .dark-theme .modal-dialog .modal-content,
    .dark-theme .meta-actions-list-base .meta-actions-overlay {
        border: 1px solid #111;
    }
    .dark-theme .notification,
    .dark-theme .notification-red,
    .dark-theme .notification-blue {
        background: var(--text);
    }
    .home-container {
        max-width: 100%;
    }
    .dark-theme .content,
    .dark-theme .text-name, 
    .dark-theme .text-link, 
    .dark-theme .text-title, 
    .dark-theme .text-name:link, 
    .dark-theme .text-link:link, 
    .dark-theme .text-lead:link, 
    .dark-theme .text-name:hover, 
    .dark-theme .text-title:link, 
    .dark-theme .text-lead:hover, 
    .dark-theme .section-content,
    .dark-theme .text-link.small, 
    .dark-theme .text-name.small, 
    .dark-theme .text-link:hover, 
    .dark-theme .text-name:active, 
    .dark-theme .text-name.xsmall, 
    .dark-theme .text-link:active, 
    .dark-theme .text-title:hover, 
    .dark-theme .text-link.xsmall, 
    .dark-theme .text-name:visited, 
    .dark-theme .text-lead:visited, 
    .dark-theme .text-title:active, 
    .dark-theme .text-name.xxsmall, 
    .dark-theme .text-link.xxsmall, 
    .dark-theme .text-link:visited, 
    .dark-theme .text-title:visited,
    .dark-theme .chat-windows-header,
    .dark-theme .text-link.small:link, 
    .dark-theme .text-name.small:link, 
    .dark-theme .text-link.xsmall:link, 
    .dark-theme .text-name.xsmall:link, 
    .dark-theme .text-link.xxsmall:link, 
    .dark-theme .text-link.small:active, 
    .dark-theme .text-name.small:active, 
    .dark-theme .text-name.xxsmall:link, 
    .dark-theme .rbx-header .text-header,
    .dark-theme .text-link.xsmall:active, 
    .dark-theme .text-link.small:visited, 
    .dark-theme .text-name.xsmall:active, 
    .dark-theme .text-name.small:visited, 
    .dark-theme .text-name.xsmall:visited, 
    .gotham-font.dark-theme .refresh-link,
    .gotham-font.dark-theme .see-all-link,
    .dark-theme .text-name.xxsmall:active, 
    .dark-theme .text-link.xsmall:visited, 
    .dark-theme .text-link.xxsmall:active, 
    .dark-theme .text-link.xxsmall:visited, 
    .dark-theme .text-name.xxsmall:visited, 
    .dark-theme .rbx-header .text-header:link,
    .dark-theme .stack .stack-list .stack-row,
    .gotham-font.dark-theme .refresh-link:link,
    .gotham-font.dark-theme .see-all-link-icon,
    .gotham-font.dark-theme .see-all-link:link,
    .gotham-font.dark-theme .refresh-link-icon,
    .dark-theme .rbx-header .text-header:focus,
    .dark-theme .rbx-header .text-header:hover,
    .gotham-font.dark-theme .refresh-link:hover,
    .gotham-font.dark-theme .see-all-link:hover,
    .dark-theme .rbx-header .text-header:active,
    .dark-theme .rbx-left-col li .text-nav:link,
    .dark-theme .rbx-header .text-header:visited,
    .gotham-font.dark-theme .touch .see-all-link,
    .gotham-font.dark-theme .refresh-link:active,
    .gotham-font.dark-theme .see-all-link:active,
    .gotham-font.dark-theme .touch .refresh-link,
    .gotham-font.dark-theme .refresh-link:visited,
    .dark-theme .rbx-left-col li .text-nav:active,
    .dark-theme .people-list .friend .friend-link,
    .gotham-font.dark-theme .see-all-link:visited,
    .dark-theme .rbx-left-col li .text-nav:visited,
    .gotham-font.dark-theme .refresh-link-icon:link,
    .gotham-font.dark-theme .see-all-link-icon:link,
    .gotham-font.dark-theme .refresh-link-icon:hover,
    .gotham-font.dark-theme .see-all-link-icon:hover,
    .gotham-font.dark-theme .see-all-link-icon:active,
    .gotham-font.dark-theme .touch .refresh-link-icon,
    .gotham-font.dark-theme .refresh-link-icon:active,
    .gotham-font.dark-theme .touch .refresh-link:link,
    .gotham-font.dark-theme .touch .see-all-link-icon,
    .gotham-font.dark-theme .touch .see-all-link:link,
    .gotham-font.dark-theme .touch .see-all-link:hover,
    .gotham-font.dark-theme .touch .refresh-link:hover,
    .gotham-font.dark-theme .refresh-link-icon:visited,
    .gotham-font.dark-theme .see-all-link-icon:visited,
    .gotham-font.dark-theme .touch .see-all-link:active,
    .gotham-font.dark-theme .touch .refresh-link:active,
    .dark-theme .people-list .friend .friend-link:hover,
    .gotham-font.dark-theme .touch .see-all-link:visited,
    .gotham-font.dark-theme .touch .refresh-link:visited,
    .dark-theme .text-lead, .dark-theme .text-lead:active,
    .gotham-font.dark-theme .touch .see-all-link-icon:link,
    .gotham-font.dark-theme .touch .refresh-link-icon:link,
    .gotham-font.dark-theme .touch .see-all-link-icon:hover,
    .gotham-font.dark-theme .touch .refresh-link-icon:hover,
    .gotham-font.dark-theme .touch .see-all-link-icon:active,
    .gotham-font.dark-theme .touch .refresh-link-icon:active,
    .dark-theme .vlist .list-item .list-body .list-content a, 
    .vlist .list-item .list-body .list-content .dark-theme a,
    .gotham-font.dark-theme .touch .see-all-link-icon:visited,
    .gotham-font.dark-theme .touch .refresh-link-icon:visited,
    .vlist .list-item .list-body .list-content .dark-theme a:link,
    .dark-theme .vlist .list-item .list-body .list-content a:link,
    .dark-theme .vlist .list-item .list-body .list-content a.small, 
    .vlist .list-item .list-body .list-content .dark-theme a.small, 
    .dark-theme .vlist .list-item .list-body .list-content a:hover, 
    .vlist .list-item .list-body .list-content .dark-theme a:hover,
    .vlist .list-item .list-body .list-content .dark-theme a.xsmall,
    .dark-theme .vlist .list-item .list-body .list-content a:active, 
    .dark-theme .vlist .list-item .list-body .list-content a.xsmall, 
    .vlist .list-item .list-body .list-content .dark-theme a:active,
    .vlist .list-item .list-body .list-content .dark-theme a:visited,
    dark-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,
    .dark-theme .vlist .list-item .list-body .list-content a:visited,
    .dark-theme .vlist .list-item .list-body .list-content a.xxsmall, 
    .vlist .list-item .list-body .list-content .dark-theme a.xxsmall,
    .dark-theme .vlist .list-item .list-body .list-content a.small:link, 
    .vlist .list-item .list-body .list-content .dark-theme a.small:link,
    .dark-theme .vlist .list-item .list-body .list-content a.xsmall:link, 
    .vlist .list-item .list-body .list-content .dark-theme a.xsmall:link,
    .vlist .list-item .list-body .list-content .dark-theme a.small:active,
    .dark-theme .vlist .list-item .list-body .list-content a.xxsmall:link, 
    .dark-theme .vlist .list-item .list-body .list-content a.small:active, 
    .vlist .list-item .list-body .list-content .dark-theme a.xxsmall:link,
    .dark-theme .vlist .list-item .list-body .list-content a.small:visited, 
    .dark-theme .vlist .list-item .list-body .list-content a.xsmall:active, 
    .vlist .list-item .list-body .list-content .dark-theme a.small:visited,
    .vlist .list-item .list-body .list-content .dark-theme a.xsmall:active,
    .vlist .list-item .list-body .list-content .dark-theme a.xxsmall:active,
    .vlist .list-item .list-body .list-content .dark-theme a.xsmall:visited,
    .dark-theme .vlist .list-item .list-body .list-content a.xsmall:visited, 
    .dark-theme .vlist .list-item .list-body .list-content a.xxsmall:active, 
    .dark-theme .vlist .list-item .list-body .list-content a.xxsmall:visited, 
    .vlist .list-item .list-body .list-content .dark-theme a.xxsmall:visited,
    .dark-theme .voting-panel .users-vote .vote-details .vote-numbers .count-left,
    .dark-theme .voting-panel .users-vote .vote-details .vote-numbers .count-right {
        color: var(--text);
    }
    .dark-theme .icon-like,
    .dark-theme .icon-game,
    .dark-theme .icon-Melee,
    .dark-theme .icon-robux,
    .dark-theme .icon-games,
    .dark-theme .icon-Ranged,
    .dark-theme .icon-Social,
    .dark-theme .icon-nogear,
    .dark-theme .icon-online,
    .dark-theme .icon-studio,
    .dark-theme .icon-logo-r,
    .dark-theme .icon-Musical,
    .dark-theme .icon-dislike,
    .dark-theme .icon-catalog,
    .dark-theme .icon-PowerUp,
    .dark-theme .icon-nav-shop,
    .dark-theme .icon-nav-home,
    .dark-theme .icon-nav-blog,
    .dark-theme .icon-nav-menu,
    .dark-theme .icon-allgears,
    .dark-theme .icon-favorite,
    .dark-theme .icon-Building,
    .dark-theme .icon-logo-r-95,
    .dark-theme .icon-clanpoint,
    .dark-theme .icon-nav-group,
    .dark-theme .icon-nav-robux,
    .dark-theme .icon-rating-sm,
    .dark-theme .icon-nav-trade,
    .dark-theme .icon-inventory,
    .dark-theme .icon-Explosive,
    .dark-theme .icon-playaudio,
    .dark-theme .icon-Transport,
    .dark-theme .icon-robux-gold,
    .dark-theme .icon-robux-gray,
    .dark-theme .icon-votes-gray,
    .dark-theme .icon-refresh-sm,
    .dark-theme .icon-Navigation,
    .dark-theme .icon-robux-gray,
    .dark-theme .icon-copylocked,
    .dark-theme .icon-robux-white,
    .dark-theme .icon-robux-28x28,
    .dark-theme .icon-common-play,
    .dark-theme .icon-nav-friends,
    .dark-theme .icon-playerpoint,
    .dark-theme .icon-robux-white,
    .dark-theme .icon-robux-28x28,
    .dark-theme .icon-follow-game,
    .dark-theme .icon-nav-message,
    .dark-theme .icon-leaderboard,
    .dark-theme .icon-nav-my-feed,
    .dark-theme .icon-nav-profile,
    .dark-theme .icon-nav-settings,
    .dark-theme .icon-nocopylocked,
    .dark-theme .icon-partialgears,
    .dark-theme .icon-publicserver,
    .dark-theme .icon-default-games,
    .dark-theme .icon-privateserver,
    .dark-theme .icon-nav-giftcards,
    .dark-theme .icon-nav-inventory,
    .dark-theme .icon-push-right-sm,
    .dark-theme .icon-common-search,
    .dark-theme .icon-invisible-mode,
    .dark-theme .icon-default-logo-r,
    .dark-theme .icon-common-refresh,
    .dark-theme .icon-default-camera,
    .dark-theme .icon-default-branded,
    .dark-theme .icon-follow-game-gray,
    .dark-theme .icon-nav-search-white,
    .dark-theme .icon-robux-gold-28x28,
    .dark-theme .icon-default-common-sm,
    .dark-theme .icon-notifications-bell,
    .dark-theme .icon-robux-burst-banner,
    .dark-theme .icon-default-navigation,
    .dark-theme .icon-share-game-to-chat,
    .dark-theme .icon-experimental-black,
    .dark-theme .icon-experimental-gray1,
    .dark-theme .icon-experimental-gray2,
    .dark-theme .icon-experimental-white,
    .dark-theme .icon-default-voice-16x16,
    .dark-theme .icon-votes-gray-white-70,
    .dark-theme .icon-playing-counts-gray,
    .dark-theme .icon-currently-playing-sm,
    .dark-theme .icon-default-friendstatus,
    .dark-theme .icon-default-economy-28x28,
    .dark-theme .icon-default-uiblox-common,
    .dark-theme .icon-nav-notification-stream,
    .dark-theme .icon-nav-charactercustomizer,
    .dark-theme .icon-common-notification-bell,
    .dark-theme .icon-playing-counts-gray-white-70,
    .dark-theme .icon-voice-mic-unmuted-16x16-hover,
    .gotham-font.dark-theme .refresh-link-icon::after,
    .gotham-font.dark-theme .see-all-link-icon::after,
    .dark-theme .gotham-font .refresh-link-icon::after,
    .dark-theme .gotham-font .see-all-link-icon::after,
    .dark-theme .game-card-info .info-label.icon-votes-gray,
    .gotham-font.light-theme .dark-theme .refresh-link-icon::after,
    .gotham-font.light-theme .dark-theme .see-all-link-icon::after,
    .light-theme .gotham-font .dark-theme .refresh-link-icon::after,
    .light-theme .gotham-font .dark-theme .see-all-link-icon::after,
    .dark-theme .game-card-info .info-label.icon-playing-counts-gray,
    .dark-theme .game-card-info .info-label.icon-votes-gray-white-70,
    .light-theme .game-card-info .dark-theme .info-label.icon-votes-gray,
    .dark-theme .game-card-info .info-label.icon-playing-counts-gray-white-70,
    .light-theme .game-card-info .dark-theme .info-label.icon-votes-gray-white-70,
    .light-theme .game-card-info .dark-theme .info-label.icon-playing-counts-gray,
    .light-theme .game-card-info .dark-theme .info-label.icon-playing-counts-gray-white-70,
    .dark-theme .voting-panel .users-vote .vote-details .vote-container .vote-percentage {
        filter: brightness(50%);
    }
    .dark-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading {
        box-shadow: inset 0 -4px 0 0 var(--text);
    }
    .dark-theme .rbx-header .rbx-navbar li:hover {
        border-bottom: 2px solid var(--text);
    }
    .dark-theme .btn-common-play-game-lg {
        background-color: #1d5b44;
    }
    .dark-theme .btn-common-play-game-lg:focus,
    .dark-theme .btn-common-play-game-lg:hover {
        background-color: #145f43;
    }
}
