/* ==UserStyle==
@name       coursera darkmode
@version    20250516.21.08
@namespace  ?
==/UserStyle== */

@-moz-document domain("coursera.org") {
    ::root {
        --cds-font-size-body2: 0.875rem;
        --cds-font-size-title4: 0.875rem;
        --cds-letter-spacing-250: -0.2px;
        --cds-letter-spacing-125: -0.1px;
        --cds-font-family-body: var(--cds-font-family-source-sans-pro);
        --cds-font-family-title: var(--cds-font-family-source-sans-pro);
        --cds-font-family-display: var(--cds-font-family-source-sans-pro);
        --cds-font-size-body1: var(--cds-font-size-200);
        --cds-font-size-title3: var(--cds-font-size-200);
        --cds-font-size-title2: var(--cds-font-size-250);
        --cds-font-size-title1-xs: var(--cds-font-size-300);
        --cds-font-size-title1-lg: var(--cds-font-size-350);
        --cds-font-size-display2-xs: var(--cds-font-size-400);
        --cds-font-size-display2-sm: var(--cds-font-size-450);
        --cds-font-size-display2-lg: var(--cds-font-size-550);
        --cds-font-size-display1-xs: var(--cds-font-size-600);
        --cds-font-size-display1-sm: var(--cds-font-size-800);
        --cds-font-size-display1-lg: var(--cds-font-size-1050);
        --cds-letter-spacing-body2: var(--cds-letter-spacing-0);
        --cds-letter-spacing-body1: var(--cds-letter-spacing-0);
        --cds-letter-spacing-title4: var(--cds-letter-spacing-125);
        --cds-letter-spacing-title3: var(--cds-letter-spacing-125);
        --cds-letter-spacing-title2: var(--cds-letter-spacing-125);
        --cds-letter-spacing-title1: var(--cds-letter-spacing-125);
        --cds-letter-spacing-display2: var(--cds-letter-spacing-125);
        --cds-letter-spacing-display1: var(--cds-letter-spacing-250);
        --cds-line-height-body2: var(--cds-line-height-250);
        --cds-line-height-body1: var(--cds-line-height-300);
        --cds-line-height-title4: var(--cds-line-height-250);
        --cds-line-height-title3: var(--cds-line-height-300);
        --cds-line-height-title2: var(--cds-line-height-350);
        --cds-line-height-title1-xs: var(--cds-line-height-400);
        --cds-line-height-title1-lg: var(--cds-line-height-450);
        --cds-line-height-display2-xs: var(--cds-line-height-500);
        --cds-line-height-display2-sm: var(--cds-line-height-600);
        --cds-line-height-display2-lg: var(--cds-line-height-650);
        --cds-line-height-display1-xs: var(--cds-line-height-700);
        --cds-line-height-display1-sm: var(--cds-line-height-900);
        --cds-line-height-display1-lg: var(--cds-line-height-1150);
        --cds-typography-body2: var(--cds-font-weight-400) var(--cds-font-size-body2)/var(--cds-line-height-body2) var(--cds-font-family-body);
        --cds-typography-body1: var(--cds-font-weight-400) var(--cds-font-size-body1)/var(--cds-line-height-body1) var(--cds-font-family-body);
        --cds-typography-title4: var(--cds-font-weight-700) var(--cds-font-size-title4)/var(--cds-line-height-title4) var(--cds-font-family-title);
        --cds-typography-title3-strong: var(--cds-font-weight-700) var(--cds-font-size-title3)/var(--cds-line-height-title3) var(--cds-font-family-title);
        --cds-typography-title3: var(--cds-font-weight-600) var(--cds-font-size-title3)/var(--cds-line-height-title3) var(--cds-font-family-title);
        --cds-typography-title2-weak: var(--cds-font-weight-400) var(--cds-font-size-title2)/var(--cds-line-height-title2) var(--cds-font-family-title);
        --cds-typography-title2: var(--cds-font-weight-600) var(--cds-font-size-title2)/var(--cds-line-height-title2) var(--cds-font-family-title);
        --cds-typography-title1-xs-weak: var(--cds-font-weight-400) var(--cds-font-size-title1-xs)/var(--cds-line-height-title1-xs) var(--cds-font-family-title);
        --cds-typography-title1-xs: var(--cds-font-weight-600) var(--cds-font-size-title1-xs)/var(--cds-line-height-title1-xs) var(--cds-font-family-title);
        --cds-typography-title1-weak: var(--cds-font-weight-400) var(--cds-font-size-title1-lg)/var(--cds-line-height-title1-lg) var(--cds-font-family-title);
        --cds-typography-title1: var(--cds-font-weight-600) var(--cds-font-size-title1-lg)/var(--cds-line-height-title1-lg) var(--cds-font-family-title);
        --cds-typography-display2-xs-weak: var(--cds-font-weight-400) var(--cds-font-size-display2-xs)/var(--cds-line-height-display2-xs) var(--cds-font-family-display);
        --cds-typography-display2-xs: var(--cds-font-weight-600) var(--cds-font-size-display2-xs)/var(--cds-line-height-display2-xs) var(--cds-font-family-display);
        --cds-typography-display2-sm-weak: var(--cds-font-weight-400) var(--cds-font-size-display2-sm)/var(--cds-line-height-display2-sm) var(--cds-font-family-display);
        --cds-typography-display2-sm: var(--cds-font-weight-600) var(--cds-font-size-display2-sm)/var(--cds-line-height-display2-sm) var(--cds-font-family-display);
        --cds-typography-display2-weak: var(--cds-font-weight-400) var(--cds-font-size-display2-lg)/var(--cds-line-height-display2-lg) var(--cds-font-family-display);
        --cds-typography-display2: var(--cds-font-weight-600) var(--cds-font-size-display2-lg)/var(--cds-line-height-display2-lg) var(--cds-font-family-display);
        --cds-typography-display1-xs-weak: var(--cds-font-weight-400) var(--cds-font-size-display1-xs)/var(--cds-line-height-display1-xs) var(--cds-font-family-display);
        --cds-typography-display1-xs: var(--cds-font-weight-600) var(--cds-font-size-display1-xs)/var(--cds-line-height-display1-xs) var(--cds-font-family-display);
        --cds-typography-display1-sm-weak: var(--cds-font-weight-400) var(--cds-font-size-display1-sm)/var(--cds-line-height-display1-sm) var(--cds-font-family-display);
        --cds-typography-display1-sm: var(--cds-font-weight-600) var(--cds-font-size-display1-sm)/var(--cds-line-height-display1-sm) var(--cds-font-family-display);
        --cds-typography-display1-weak: var(--cds-font-weight-400) var(--cds-font-size-display1-lg)/var(--cds-line-height-display1-lg) var(--cds-font-family-display);
        --cds-typography-display1: var(--cds-font-weight-600) var(--cds-font-size-display1-lg)/var(--cds-line-height-display1-lg) var(--cds-font-family-display);
    }
    :root {
        --cds-color-darken-975: rgba(255, 255, 255, 0.98);
        --cds-color-darken-950: rgba(255, 255, 255, 0.95);
        --cds-color-darken-900: rgba(255, 255, 255, 0.9);
        --cds-color-darken-800: rgba(255, 255, 255, 0.8);
        --cds-color-darken-700: rgba(255, 255, 255, 0.7);
        --cds-color-darken-600: rgba(255, 255, 255, 0.6);
        --cds-color-darken-500: rgba(255, 255, 255, 0.5);
        --cds-color-darken-400: rgba(255, 255, 255, 0.4);
        --cds-color-darken-300: rgba(255, 255, 255, 0.3);
        --cds-color-darken-200: rgba(255, 255, 255, 0.2);
        --cds-color-darken-100: rgba(255, 255, 255, 0.1);
        --cds-color-darken-50: rgba(255, 255, 255, 0.05);
        --cds-color-darken-25: rgba(255, 255, 255, 0.03);
        --cds-color-darken-0: rgba(255, 255, 255, 0);
        --cds-color-lighten-975: rgba(15, 17, 20, 0.98);
        --cds-color-lighten-950: rgba(15, 17, 20, 0.95);
        --cds-color-lighten-900: rgba(15, 17, 20, 0.9);
        --cds-color-lighten-800: rgba(15, 17, 20, 0.8);
        --cds-color-lighten-700: rgba(15, 17, 20, 0.7);
        --cds-color-lighten-600: rgba(15, 17, 20, 0.6);
        --cds-color-lighten-500: rgba(15, 17, 20, 0.5);
        --cds-color-lighten-400: rgba(15, 17, 20, 0.4);
        --cds-color-lighten-300: rgba(15, 17, 20, 0.3);
        --cds-color-lighten-200: rgba(15, 17, 20, 0.2);
        --cds-color-lighten-100: rgba(15, 17, 20, 0.1);
        --cds-color-lighten-50: rgba(15, 17, 20, 0.05);
        --cds-color-lighten-25: rgba(15, 17, 20, 0.03);
        --cds-color-lighten-0: rgba(15, 17, 20, 0);
        --cds-color-pink-25: #1e051a;
        --cds-color-pink-50: #45093a;
        --cds-color-pink-100: #661057;
        --cds-color-pink-200: #7d166a;
        --cds-color-pink-300: #9c1a84;
        --cds-color-pink-400: #c429a8;
        --cds-color-pink-500: #e339c4;
        --cds-color-pink-600: #f05bd5;
        --cds-color-pink-700: #ff82e7;
        --cds-color-pink-800: #ffa6ee;
        --cds-color-pink-900: #ffccf5;
        --cds-color-pink-950: #ffe0f9;
        --cds-color-pink-975: #fff2fd;
        --cds-color-red-25: #2e0007;
        --cds-color-red-50: #66000f;
        --cds-color-red-100: #9e0018;
        --cds-color-red-200: #c4001d;
        --cds-color-red-300: #d30a28;
        --cds-color-red-400: #ed2644;
        --cds-color-red-500: #f0465f;
        --cds-color-red-600: #fc657d;
        --cds-color-red-700: #ff8f9f;
        --cds-color-red-800: #ffb0bc;
        --cds-color-red-900: #fad2d8;
        --cds-color-red-950: #fce5e8;
        --cds-color-red-975: #fdf5f5;
        --cds-color-green-25: #02150f;
        --cds-color-green-50: #062e21;
        --cds-color-green-100: #074735;
        --cds-color-green-200: #095941;
        --cds-color-green-300: #087051;
        --cds-color-green-400: #118f69;
        --cds-color-green-500: #22a880;
        --cds-color-green-600: #3bc29a;
        --cds-color-green-700: #66dab7;
        --cds-color-green-800: #94e5cd;
        --cds-color-green-900: #b8f2e1;
        --cds-color-green-950: #cffaed;
        --cds-color-green-975: #ebfdf8;
        --cds-color-yellow-25: #200900;
        --cds-color-yellow-50: #471400;
        --cds-color-yellow-100: #6b1e00;
        --cds-color-yellow-200: #852600;
        --cds-color-yellow-300: #a32e00;
        --cds-color-yellow-400: #c74504;
        --cds-color-yellow-500: #de6000;
        --cds-color-yellow-600: #f28100;
        --cds-color-yellow-700: #faaf00;
        --cds-color-yellow-800: #ffc936;
        --cds-color-yellow-900: #ffdc96;
        --cds-color-yellow-950: #ffeac9;
        --cds-color-yellow-975: #fff4e8;
        --cds-color-purple-25: #150333;
        --cds-color-purple-50: #340385;
        --cds-color-purple-100: #4a0fab;
        --cds-color-purple-200: #5b15cf;
        --cds-color-purple-300: #6923de;
        --cds-color-purple-400: #8040ed;
        --cds-color-purple-500: #9258f5;
        --cds-color-purple-600: #a678f5;
        --cds-color-purple-700: #c29ffc;
        --cds-color-purple-800: #d3bbfa;
        --cds-color-purple-900: #e7d9ff;
        --cds-color-purple-950: #f1e8ff;
        --cds-color-purple-975: #f9f5ff;
        --cds-color-blue-25: #00112a;
        --cds-color-blue-50: #002761;
        --cds-color-blue-100: #003b8f;
        --cds-color-blue-200: #0048b0;
        --cds-color-blue-300: #0056d2;
        --cds-color-blue-400: #1e72eb;
        --cds-color-blue-500: #3587fc;
        --cds-color-blue-600: #5b9dfc;
        --cds-color-blue-700: #87b8ff;
        --cds-color-blue-800: #adcfff;
        --cds-color-blue-900: #cfe2ff;
        --cds-color-blue-950: #e3eeff;
        --cds-color-blue-975: #f0f6ff;
        --cds-color-grey-975: #b8d1f7;
        --cds-color-grey-950: #aac1e8;
        --cds-color-grey-900: #97afd9;
        --cds-color-grey-800: #8297c4;
        --cds-color-grey-700: #6c7fa4;
        --cds-color-grey-600: #6a7895;
        --cds-color-grey-500: #59657d;
        --cds-color-grey-400: #4b5564;
        --cds-color-grey-300: #3e424a;
        --cds-color-grey-200: #292b2f;
        --cds-color-grey-100: #1f2022;
        --cds-color-grey-50: #0c0c0d;
        --cds-color-grey-25: #080809;
        --cds-color-white-0: #000;
        --cds-color-callouts-tertiary-invert: #b0e5fb;
        --cds-text-decoration-link: underline;
        --cds-font-family-boutros-coursera: Boutros Coursera, Tahoma, sans-serif;
        --cds-font-family-source-sans-pro: Source Sans Pro, Arial, sans-serif;
        --cds-font-size-1100: 5.5rem;
        --cds-font-size-1050: 5.25rem;
        --cds-font-size-1000: 5rem;
        --cds-font-size-950: 4.75rem;
        --cds-font-size-900: 4.5rem;
        --cds-font-size-850: 4.25rem;
        --cds-font-size-800: 4rem;
        --cds-font-size-750: 3.75rem;
        --cds-font-size-700: 3.5rem;
        --cds-font-size-650: 3.25rem;
        --cds-font-size-600: 3rem;
        --cds-font-size-550: 2.75rem;
        --cds-font-size-500: 2.5rem;
        --cds-font-size-450: 2.25rem;
        --cds-font-size-400: 2rem;
        --cds-font-size-375: 1.875rem;
        --cds-font-size-350: 1.75rem;
        --cds-font-size-300: 1.5rem;
        --cds-font-size-250: 1.25rem;
        --cds-font-size-200: 1rem;
        --cds-font-size-175: 0.875rem;
        --cds-font-size-150: 0.75rem;
        --cds-font-size-125: 0.625rem;
        --cds-font-size-100: 0.5rem;
        --cds-letter-spacing-minus30: -0.003em;
        --cds-letter-spacing-minus50: -0.005em;
        --cds-letter-spacing-minus100: -0.01em;
        --cds-letter-spacing-100: 0.01em;
        --cds-letter-spacing-0: 0em;
        --cds-line-height-1200: 6rem;
        --cds-line-height-1150: 5.75rem;
        --cds-line-height-1100: 5.5rem;
        --cds-line-height-1050: 5.25rem;
        --cds-line-height-1000: 5rem;
        --cds-line-height-900: 4.5rem;
        --cds-line-height-850: 4.25rem;
        --cds-line-height-800: 4rem;
        --cds-line-height-700: 3.5rem;
        --cds-line-height-650: 3.25rem;
        --cds-line-height-600: 3rem;
        --cds-line-height-550: 2.75rem;
        --cds-line-height-525: 2.625rem;
        --cds-line-height-500: 2.5rem;
        --cds-line-height-450: 2.25rem;
        --cds-line-height-400: 2rem;
        --cds-line-height-375: 1.875rem;
        --cds-line-height-350: 1.75rem;
        --cds-line-height-300: 1.5rem;
        --cds-line-height-250: 1.25rem;
        --cds-line-height-200: 1rem;
        --cds-line-height-175: 0.875rem;
        --cds-line-height-150: 0.75rem;
        --cds-base: 8;
        --cds-font-weight-700: 700;
        --cds-font-weight-600: 600;
        --cds-font-weight-400: 400;
        --cds-border-radius-max: 50px;
        --cds-border-radius-400: 32px;
        --cds-border-radius-200: 16px;
        --cds-border-radius-100: 8px;
        --cds-border-radius-50: 4px;
        --cds-border-radius-25: 2px;
        --cds-spacing-1400: 112px;
        --cds-spacing-1000: 80px;
        --cds-spacing-800: 64px;
        --cds-spacing-600: 48px;
        --cds-spacing-400: 32px;
        --cds-spacing-300: 24px;
        --cds-spacing-200: 16px;
        --cds-spacing-150: 12px;
        --cds-spacing-100: 8px;
        --cds-spacing-50: 4px;
        --cds-color-emphasis-quaternary-content-default: var(--cds-color-purple-950);
        --cds-color-emphasis-quaternary-stroke-default: var(--cds-color-purple-700);
        --cds-color-emphasis-quaternary-background-xweak: var(--cds-color-purple-25);
        --cds-color-emphasis-quaternary-background-weak: var(--cds-color-purple-50);
        --cds-color-emphasis-quaternary-background-default: var(--cds-color-purple-600);
        --cds-color-emphasis-quaternary-background-strong: var(--cds-color-purple-700);
        --cds-color-emphasis-quaternary-background-xstrong: var(--cds-color-purple-900);
        --cds-color-emphasis-tertiary-content-default: var(--cds-color-yellow-800);
        --cds-color-emphasis-tertiary-stroke-default: var(--cds-color-yellow-300);
        --cds-color-emphasis-tertiary-background-xweak: var(--cds-color-yellow-25);
        --cds-color-emphasis-tertiary-background-weak: var(--cds-color-yellow-50);
        --cds-color-emphasis-tertiary-background-default: var(--cds-color-yellow-300);
        --cds-color-emphasis-tertiary-background-strong: var(--cds-color-yellow-500);
        --cds-color-emphasis-tertiary-background-xstrong: var(--cds-color-yellow-600);
        --cds-color-emphasis-secondary-stroke-default: var(--cds-color-pink-500);
        --cds-color-emphasis-secondary-content-default: var(--cds-color-pink-800);
        --cds-color-emphasis-secondary-background-xweak: var(--cds-color-pink-25);
        --cds-color-emphasis-secondary-background-weak: var(--cds-color-pink-50);
        --cds-color-emphasis-secondary-background-xstrong: var(--cds-color-pink-700);
        --cds-color-emphasis-secondary-background-strong: var(--cds-color-pink-600);
        --cds-color-emphasis-secondary-background-default: var(--cds-color-pink-500);
        --cds-color-emphasis-neutral-stroke-default: var(--cds-color-grey-600);
        --cds-color-emphasis-neutral-content-default: var(--cds-color-grey-600);
        --cds-color-emphasis-neutral-background-xweak: var(--cds-color-grey-25);
        --cds-color-emphasis-neutral-background-weak: var(--cds-color-grey-50);
        --cds-color-emphasis-neutral-background-default: var(--cds-color-grey-500);
        --cds-color-emphasis-neutral-background-xstrong: var(--cds-color-grey-900);
        --cds-color-emphasis-neutral-background-xxstrong: var(--cds-color-grey-975);
        --cds-color-emphasis-primary-background-xweak: var(--cds-color-blue-25);
        --cds-color-emphasis-primary-background-strong: var(--cds-color-blue-700);
        --cds-color-emphasis-primary-background-default: var(--cds-color-blue-500);
        --cds-color-emphasis-primary-background-xstrong: var(--cds-color-blue-800);
        --cds-color-emphasis-primary-background-weak: var(--cds-color-blue-50);
        --cds-color-emphasis-primary-background-xxstrong: var(--cds-color-blue-950);
        --cds-color-emphasis-primary-stroke-default: var(--cds-color-blue-500);
        --cds-color-emphasis-primary-content-default: var(--cds-color-blue-800);
        --cds-color-utility-warning: var(--cds-color-yellow-200);
        --cds-color-utility-overlay: var(--cds-color-darken-500);
        --cds-color-callouts-background-primary-strong: var(--cds-color-blue-950);
        --cds-color-callouts-background-primary: var(--cds-color-blue-700);
        --cds-color-callouts-background-tertiary-weak: var(--cds-color-yellow-25);
        --cds-color-callouts-background-secondary-weak: var(--cds-color-purple-25);
        --cds-color-callouts-background-primary-weak: var(--cds-color-blue-50);
        --cds-color-callouts-secondary-invert: var(--cds-color-yellow-200);
        --cds-color-callouts-tertiary: var(--cds-color-blue-900);
        --cds-color-callouts-secondary: var(--cds-color-purple-950);
        --cds-color-feedback-background-warning-weak: var(--cds-color-yellow-25);
        --cds-color-feedback-background-informative-weak: var(--cds-color-blue-25);
        --cds-color-feedback-background-success-weak: var(--cds-color-green-25);
        --cds-color-feedback-background-error-weak: var(--cds-color-red-25);
        --cds-color-feedback-warning: var(--cds-color-yellow-700);
        --cds-color-feedback-informative: var(--cds-color-blue-700);
        --cds-color-feedback-success-invert-weak: var(--cds-color-green-50);
        --cds-color-feedback-success-hover: var(--cds-color-green-800);
        --cds-color-feedback-success: var(--cds-color-green-700);
        --cds-color-feedback-error-invert-weak: var(--cds-color-red-50);
        --cds-color-feedback-error-hover: var(--cds-color-red-900);
        --cds-color-feedback-error: var(--cds-color-red-700);
        --cds-color-neutral-background-primary: var(--cds-color-white-0);
        --cds-color-neutral-background-primary-weak: var(--cds-color-grey-25);
        --cds-color-neutral-stroke-primary-invert: var(--cds-color-white-0);
        --cds-color-neutral-stroke-primary-weak: var(--cds-color-grey-50);
        --cds-color-neutral-stroke-primary: var(--cds-color-grey-400);
        --cds-color-neutral-disabled-weak: var(--cds-color-grey-25);
        --cds-color-neutral-disabled-strong: var(--cds-color-grey-200);
        --cds-color-neutral-disabled: var(--cds-color-grey-50);
        --cds-color-neutral-primary-invert: var(--cds-color-white-0);
        --cds-color-neutral-primary-weak: var(--cds-color-grey-600);
        --cds-color-neutral-primary: var(--cds-color-grey-975);
        --cds-color-interactive-background-primary-selected-weak: var(--cds-color-purple-25);
        --cds-color-interactive-background-primary-pressed-weak: var(--cds-color-purple-25);
        --cds-color-interactive-background-primary-hover-weak: var(--cds-color-blue-25);
        --cds-color-interactive-stroke-primary-focus-invert: var(--cds-color-blue-25);
        --cds-color-interactive-stroke-primary-focus: var(--cds-color-purple-700);
        --cds-color-interactive-primary-selected: var(--cds-color-purple-950);
        --cds-color-interactive-primary-pressed: var(--cds-color-purple-950);
        --cds-color-interactive-primary-hover: var(--cds-color-blue-800);
        --cds-color-interactive-primary: var(--cds-color-blue-700);
        --cds-typography-action-secondary: var(--cds-font-weight-600) var(--cds-font-size-175)/var(--cds-line-height-250) var(--cds-font-family-source-sans-pro);
        --cds-typography-action-primary: var(--cds-font-weight-600) var(--cds-font-size-200)/var(--cds-line-height-300) var(--cds-font-family-source-sans-pro);
        --cds-typography-body-secondary: var(--cds-font-weight-400) var(--cds-font-size-175)/var(--cds-line-height-250) var(--cds-font-family-source-sans-pro);
        --cds-typography-body-primary: var(--cds-font-weight-400) var(--cds-font-size-200)/var(--cds-line-height-300) var(--cds-font-family-source-sans-pro);
        --cds-typography-subtitle-medium: var(--cds-font-weight-600) var(--cds-font-size-200)/var(--cds-line-height-250) var(--cds-font-family-source-sans-pro);
        --cds-typography-subtitle-large: var(--cds-font-weight-600) var(--cds-font-size-250)/var(--cds-line-height-300) var(--cds-font-family-source-sans-pro);
        --cds-typography-title-small-sm: var(--cds-font-weight-600) var(--cds-font-size-300)/var(--cds-line-height-375) var(--cds-font-family-source-sans-pro);
        --cds-typography-title-small: var(--cds-font-weight-600) var(--cds-font-size-375)/var(--cds-line-height-450) var(--cds-font-family-source-sans-pro);
        --cds-typography-title-medium-sm: var(--cds-font-weight-600) var(--cds-font-size-350)/var(--cds-line-height-450) var(--cds-font-family-source-sans-pro);
        --cds-typography-title-medium: var(--cds-font-weight-600) var(--cds-font-size-450)/var(--cds-line-height-525) var(--cds-font-family-source-sans-pro);
        --cds-typography-title-large-sm: var(--cds-font-weight-600) var(--cds-font-size-400)/var(--cds-line-height-500) var(--cds-font-family-source-sans-pro);
        --cds-typography-title-large: var(--cds-font-weight-600) var(--cds-font-size-600)/var(--cds-line-height-700) var(--cds-font-family-source-sans-pro);
        --cds-typography-display-sm: var(--cds-font-weight-600) var(--cds-font-size-500)/var(--cds-line-height-550) var(--cds-font-family-source-sans-pro);
        --cds-typography-display: var(--cds-font-weight-600) var(--cds-font-size-800)/var(--cds-line-height-900) var(--cds-font-family-source-sans-pro);
    }
    
    button.timestamp,
    header > div.smart-scroll-container > div.hide-smart-scroll-container.mui-fixed,
    header > div.smart-scroll-container > div.show-smart-scroll-container,
    .rc-PageHeader .c-ph-nav {
        background-color: var(--cds-color-white-0) !important;
    }
    
    input#rc-InCourseSearchBarInput-input,
    .rc-AutoComplete input[type="text"].react-autosuggest__input {
        background: var(--cds-color-grey-25);
        border-color: var(--cds-color-grey-100) !important;
    }
    
    div[data-testid="continue-learning-legacy-banner"] aside.card-main-content-cds,
    div[data-testid="consumer-my-learning-page"] aside.card-main-content-cds,
    .rc-AutoComplete .react-autosuggest__suggestions-container--open {
        background: var(--cds-color-grey-100);
        border-color: var(--cds-color-grey-200);
        box-shadow: 1px 1px 2px var(--cds-color-grey-25);
    }
    
    .rc-AuthenticatedAccountDropdown .c-authenticated-dropdown-menu-container .c-authenticated-dropdown-menu {
        background-color: var(--cds-color-grey-25);
        & a {
            color: var(--cds-color-grey-975);
        }
    }
    
    .logged-in-home-dropdown,
    .rc-HeaderRightNavButton.dropdown-btn a:focus,
    .rc-HeaderRightNavButton.dropdown-btn a:hover,
    .rc-AuthenticatedAccountDropdown .c-authenticated-dropdown-menu-container .c-authenticated-dropdown-menu .sign-out {
        background-color: var(--cds-color-grey-50);
    }
    
    div.rc-CML,
    div.rc-VideoControlsContainer *,
    button.button-link,
    button.nostyle,
    div.button-link,
    .rc-PageHeader {
        color: var(--cds-color-grey-975) !important;
    }
    
    .rc-AutoComplete .section-item .item-name {
        color: var(--cds-color-grey-950);
    }
    
    div.rc-Phrase[role="button"]:hover,
    header > div.smart-scroll-container > div > div > div:has(div > div > div > div > div[role="navigation"][aria-label="Banner"]),
    .rc-AutoComplete .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion--highlighted,
    .rc-AutoComplete .react-autosuggest__suggestions-container--open li:hover {
        background-color: var(--cds-color-blue-25);
    }
    
    header > div.smart-scroll-container > div.show-smart-scroll-container > div:first-child {
        background: var(--cds-color-blue-25);
        & a,
        a > span > span {
            color: var(--cds-color-grey-975) !important;
        }
    
        & a {
            border-bottom-color: var(--cds-color-grey-975);
        }
    
        & a:hover {
            background: var(--cds-color-blue-50) !important;
        }
    }
}
